<div class="margini">
    <form class="row g-3 col-md-10">
        <div class="col-md-8">
            <h3>Profilo utente</h3>
            <table class="table">
                <tbody>
                <tr>
                    <td>Nome</td>
                    <td id="nome"><%= utente.getNome() %></td>
                </tr>
                <tr>
                    <td>Cognome</td>
                    <td id="cognome"><%= utente.getCognome() %></td>
                </tr>
                <tr>
                    <td>Nazione</td>
                    <td id="nazione"><%= utente.getNazione() %></td>
                </tr>
                <tr>
                    <td>Numero di Telefono</td>
                    <td id="telefono"><%= utente.getTelefono() %></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td id="email"><%= utente.getEmail() %></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td id="password"><%= utente.getPassword() %></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
    <form method="GET" action="Logout">
        <button type="submit" class="btn btn-danger"> logout
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
            </svg>
        </button>
    </form>
</div>
