<div class="margini">
    <div class="row g-3 col-md-12">
        <div class="col-md-6">
            <h3>Profilo utente</h3>
            <table class="table">
                <tbody>
                <tr>
                    <td>Nome</td>
                    <td id="nome"><%= utente.getNome() %></td>
                </tr>
                <tr>
                    <td>Cognome</td>
                    <td id="cognome"><%= utente.getCognome() %></td>
                </tr>
                <tr>
                    <td>Nazione</td>
                    <td id="nazione"><%= utente.getNazione() %></td>
                </tr>
                <tr>
                    <td>Numero di Telefono</td>
                    <td id="telefono"><%= utente.getTelefono() %></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td id="email"><%= utente.getEmail() %></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td id="password"><%= utente.getPassword() %></td>
                </tr>
                </tbody>
            </table>
        </div>



        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="w-100 d-flex justify-content-end" style = "margin-right: 370px;">
                <div>
                    <h4 style = "margin-left: 61px;">Riepilogo risultati giochi</h4>
                    <div class="row justify-content-center" style="margin-top: 30px; margin-left: 30px;">
                        <div class="col-auto btn-spacing">
                            <button class="btn gioco" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                            Gioco 1
                            </button>
                        </div>
                        <div class="col-auto">
                            <button class="btn gioco" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                            Gioco 2
                            </button>
                        </div>
                        <div class="col-auto">
                            <button class="btn gioco" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                            Gioco 3
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <!-- Collapse panels with data-parent -->
            <div id="accordion">
                <div class="collapse" id="collapseExample1" data-parent="#accordion">
                    <div class="card card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th> </th>
                                <th>Punti</th>
                                <th>Data</th>
                            </tr>
                            <tr>
                                <td><img src = "https://img.icons8.com/?size=100&id=X6CJMckcVrBj&format=png&color=000000" width="30" height="30" ></td>
                                <td style = "text-align: center;">100</td>
                                <td>01/10/2023</td>
                            </tr>
                            <tr>
                                <td><img src = "https://img.icons8.com/?size=100&id=dgAxfaiZaNr6&format=png&color=000000" width="30" height="30" ></td>
                                <td style = "text-align: center;">50</td>
                                <td>04/10/2023</td>
                            </tr>
                            <tr>
                                <td><img src = "https://img.icons8.com/?size=100&id=lMwvkoCmvpSJ&format=png&color=000000" width="30" height="30" ></td>
                                <td style = "text-align: center;">50</td>
                                <td>04/10/2023</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="collapse" id="collapseExample2" data-parent="#accordion">
                    <div class="card card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th> </th>
                                <th>Punti</th>
                                <th>Data</th>
                            </tr>
                            <tr>
                                <td><img src = "https://img.icons8.com/?size=100&id=X6CJMckcVrBj&format=png&color=000000" width="30" height="30" ></td>
                                <td style = "text-align: center;">100</td>
                                <td>01/10/2023</td>
                            </tr>
                            <tr>
                                <td><img src = "https://img.icons8.com/?size=100&id=dgAxfaiZaNr6&format=png&color=000000" width="30" height="30" ></td>
                                <td style = "text-align: center;">50</td>
                                <td>04/10/2023</td>
                            </tr>
                            <tr>
                                <td><img src = "https://img.icons8.com/?size=100&id=lMwvkoCmvpSJ&format=png&color=000000" width="30" height="30" ></td>
                                <td style = "text-align: center;">50</td>
                                <td>04/10/2023</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="collapse" id="collapseExample3" data-parent="#accordion">
                    <div class="card card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th> </th>
                                <th>Punti</th>
                                <th>Data</th>
                            </tr>
                            <tr>
                                <td><img src = "https://img.icons8.com/?size=100&id=X6CJMckcVrBj&format=png&color=000000" width="30" height="30" ></td>
                                <td style = "text-align: center;">100</td>
                                <td>01/10/2023</td>
                            </tr>
                            <tr>
                                <td><img src = "https://img.icons8.com/?size=100&id=dgAxfaiZaNr6&format=png&color=000000" width="30" height="30" ></td>
                                <td style = "text-align: center;">50</td>
                                <td>04/10/2023</td>
                            </tr>
                            <tr>
                                <td><img src = "https://img.icons8.com/?size=100&id=lMwvkoCmvpSJ&format=png&color=000000" width="30" height="30" ></td>
                                <td style = "text-align: center;">50</td>
                                <td>04/10/2023</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--div class="btn-group" style="margin-left: 70px; margin-top: 30px;">
        <button type="button" class="btn bottone" id="b" data-toggle="modal" data-target="#myModal" style="margin-right: 20px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
            Modifica
        </button>

        <form method="GET" action="Logout">
            <button type="submit" class="btn esci">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                    <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                </svg>
                Logout
            </button>
        </form>
    </div-->

